{% extends "base.html" %}
{% load static %}

{% block title %}
    Book Detail
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li class="nav-item">
            <a class="nav-link " href="{{ item.link }}">{{item.item}}</a>
      </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}

<div class="card mx-auto my-3" style="width: 18rem;" align="center">
    <img alt="Card image cap" class="card-img-top" src="{% static book.pic_path %}">
  <div class="card-body">
    <h5 class="card-title">{{ book.name | title }}</h5>
    <p class="card-text">
        Price: ${{ book.price}} <br>
        User: {{ book.username}}<br><br>
         <a class="btn btn-info"  target="_blank" href="{{book.web}}">External Website</a>
    </p>

  </div>
</div>
{% endblock content %}