{% extends "base.html" %}
{% load static %}

{% block title %}
    Edit Password
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li class="nav-item">
            <a class="nav-link " href="{{ item.link }}">{{item.item}}</a>
      </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}


<h1 align="center"> Edit Password </h1>
       {% if form.errors %}
    <div class="alert alert-danger col-md-2 mb-3 mx-auto" role="alert">
      {% for field in form %}

           {% for error in field.errors %}
                <b>{{field.label}}:</b> {{ error|escape }}<br><br>
           {% endfor %}
      {% endfor %}
        </div>
{% endif %}
   <form action="" enctype="multipart/form-data" class="needs-validation" method="post" novalidate>
       <div class="form-row">
            <div class="col-md-2 mb-3 mx-auto">
                <label for="old_password">Password</label>
                <input class="form-control" type="password" id="old_password" name="old_password" required>
            </div>
        </div>
       <div class="form-row">
            <div class="col-md-2 mb-3 mx-auto">
                <label for="new_password1">New Password</label>
                <input class="form-control" type="password" id="new_password1" name="new_password1" required>
            </div>
        </div>
       <div class="form-row">
            <div class="col-md-2 mb-3 mx-auto">
                <label for="new_password2">Confirm New Password</label>
                <input class="form-control" type="password" id="new_password2" name="new_password2" required>
            </div>
        </div>

<!--{{form.non_field_errors}}-->
{% csrf_token %}
<!--{% for field in form %}<br>-->
<!--{{field.label_tag}}<br>-->
<!--{{ field }}<br>-->
<!--{{ field.help_text | safe }}-->
<!--{% if field.errors %} <br>-->
<!--{{ field.errors }}-->
<!--{% endif %}-->
<!--{% endfor %}<br>-->
<div class="form-row" align="center">
      <div class="col-md-2 mb-3 mx-auto">
        <input class="btn btn-primary float-left" type="submit" value="Submit">
        <a href="/myprofile" class="btn btn-danger float-right">Cancel</a>
      </div>
</div>

   </form>
{% endblock content %}