{% extends "base.html" %}
{% load static %}

{% block title %}
    Edit Password
{% endblock title %}

{% block sidenav %}
        <li>
            <a href="/" style="color:blue"> Home </a>
        </li>
{% endblock sidenav %}

{% block content %}
<h1> Edit Password </h1>
   <form method="POST">
{{form.non_field_errors}}
{% csrf_token %}
{% for field in form %}<br>
{{field.label_tag}}<br>
{{ field }}<br>
{{ field.help_text | safe }}
{% if field.errors %} <br>
{{ field.errors }}
{% endif %}
{% endfor %}<br>
<button type="submit">Submit</button>
</form>
{% endblock content %}