{% extends "base.html" %}
{% load static %}

{% block title %}
    My Profile
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li class="nav-item">
            <a class="nav-link " href="{{ item.link }}">{{item.item}}</a>
      </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center" class="my-3 py-2"> My Profile </h1>

<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
      <table class="table">
          <tr>
              <th>
                  <b>
                  Name:
                  </b>
              </th>
              <td>
                    {{ name|title }}
              </td>
          </tr>
          <tr>
              <th>
                  <b>
                    Email:
                  </b>

              </th>
              <td>
                    {{ email }}
              </td>
          </tr>
      </table>
      <a href="update_profile" class="btn btn-primary">Update Profile</a><br><br>
        <a href="^password/$" class="btn btn-danger">Change Password</a>
  </div>
</div>


{% endblock content %}