{% extends "base.html" %}
{% load static %}

{% block title %}
    Post Book
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
        <li class="nav-item">
            <a class="nav-link " href="{{ item.link }}">{{item.item}}</a>
      </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align="center" class="display-5"> The Following Book(s) Have Been Purchased  </h1>
    <ul class="list-group">
    {% for book in books %}
        <li class="list-group-item mx-auto w-25" align="center">{{ book.name }}</li>
    {% endfor %}
    </ul>
{% endblock content %}