{% extends "base.html" %}
{% load static %}

{% block title %}
    User Login
{% endblock title %}

{% block sidenav %}
        <li class="nav-item">
            <a class="nav-link" href="/"> Home </a>
        </li>
{% endblock sidenav %}

{% block content %}
<h1 align="center" class="my-3 py-2"> User Login </h1>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger col-md-2 mb-3 mx-auto" role="alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger col-md-2 mb-3 mx-auto" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

{% endif %}
     <form action="" enctype="multipart/form-data" class="needs-validation" method="post" novalidate>
        <div class="form-row" align="center">
            <div class="form-group col-md-2 mb-3 mx-auto">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
            </div>
        </div>
        <div class="form-row" align="center">
            <div class="form-group col-md-2 mb-3 mx-auto">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            </div>
        </div>
         <div class="form-row" align="center">
            <div class="form-group col-md-2 mb-3 mx-auto">
                    <input type="submit" class="btn btn-primary sm float-left" value="Login">
                    <a href="{% url 'register' %}" class="btn btn-outline-secondary sm float-right"> Sign Up </a>

            </div>
         </div>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}



    </form>
{% endblock content %}