{% extends "base.html" %}
{% load static %}

{% block title %}
    User Registration
{% endblock title %}

{% block sidenav %}
        <li>
            <a href="/"> Home </a>
        </li>
{% endblock sidenav %}

{% block content %}
<h1 align="center" class="my-3 py-2"> User Registration </h1>
    <form action="" align="center" method="post">
        <div class="form-group" align="center">
            <div class="form-group col-md-2">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group" align="center">
            <div class="form-group col-md-2">
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
            </div>
        </div>
        <div class="form-group" align="center">
            <div class="form-group col-md-2">
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Password">
            </div>
        </div>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="submit" value="Register">

                </td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}

    </form>


<!--    <form action="" method="post">-->
<!--        <table>-->
<!--            {{ form.as_table }}-->
<!--            <tr>-->
<!--                <td colspan="2">-->
<!--                    <input type="submit" value="Register">-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <input type="hidden" name="next" value="{{ next }}" />-->
<!--        {% csrf_token %}-->
<!--    </form>-->
{% endblock content %}